#content h3{font-size: 1.8rem; margin-bottom: 30px;}
#content h4{font-size: 1.5rem; margin-bottom: 30px;}
#content table{width: 1200px; margin: 0 0 50px 0;}

#content table thead{font-size: 1.56rem; text-align: left; margin-bottom: 30px;}
#content table tbody{margin-bottom: 30px;}
#content table td{border: 1px solid #fd0000; text-align: center;
padding: 10px 15px;  font-size: 1.1rem;}


#content .box1 p{font-size: 1.1rem; margin-bottom: 30px;}
#content .box2 p{font-size: 1.1rem; margin-bottom: 30px;}

#content .box3{border: 1px solid #fd0000; text-align: center; padding: 30px;
     margin-bottom: 100px;}

#content .box3 p{font-size: 1.56rem; color: #fd0000; font-weight: 500;}
#content .box3 span{font-size: 1.1rem;}     
/* #content .box3 p{font-size: 1.56rem; font-weight: 500;}
#contnet .box3 span{font-size: 1.1rem; color: #fd0000;} */
