.visual{position: relative;}
.visual img{ width: 100%; filter: brightness(60%);}
.visual h3{width: 100%; position: absolute; text-align: center; font-size: 1.88rem; font-weight: 400;
     z-index: 10;left:0; top:40%; color: #fff;}

#content .title{text-align: center; overflow: hidden; margin:50px 0 50px 0;}
#content .title h2{font-size:2rem; text-transform: uppercase;}
#content .title p{color: #fd0000; font-size: 1.25rem; text-align: center;}

#content{padding: 30px 20px 50px;}
#content ul{display: flex;border-radius: 0 0 20px 20px;
     background: #FFFCDD;overflow: hidden;box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .2);}
#content ul li{width: 20%; box-sizing: border-box;
     text-align: center;
   padding: 10px 0;}
#content ul li:hover{width: 20%; box-sizing: border-box; color:#fff;
     background: #fd0000; text-align: center;
    padding: 10px 0;}
#content ul li:hover a{color: #fff;}
   #content ul li a{display: block; padding: 10px 0;}
   #content .video2{margin-top: 50px;}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    }
    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }




